body {
  background: linear-gradient(to left, rgb(12, 12, 11), rgb(26, 26, 31));
  color: #FFF;
}

@keyframes throw-and-bounce {
  0% {
    transform: translateY(-200px) scaleY(1.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0) translateY(0) rotate(0deg) scaleY(1);
  }
  65% {
    opacity: 1;
    transform: translateX(0) translateY(0) scaleX(1.2) scaleY(0.8);
  }
  75% {
    opacity: 1;
    transform: translateX(0) translateY(-50px) scaleX(0.95) scaleY(1.05);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) scaleX(1) scaleY(1);
  }
}

@keyframes rotate-pokeball {
  25% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(20deg);
  }
  80% {
    transform: rotateZ(0);
  }
}